/* 小螢幕時隱藏導覽列，只顯示漢堡圖標 */
body {
    font-family: 'Noto Sans TC', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1520px;
    z-index: 2;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
}
#hamburger-icon {
    padding: 4px;
    width: 20px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
#hamburger-icon img{
    width: 100%;
}
#xx {
    padding: 4px;
    width: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 18px;
    right: 20px;
}
#xx img{
    width: 100%;
}
#nav-menu {
    display: flex;
    flex-direction: column; /* 垂直排列菜单项 */
    position: fixed; /* 固定位置 */
    top: 0; /* 顶部对齐 */
    right: -100%; /* 初始在屏幕右侧外 */
    height: 100%; /* 全屏高度 */
    background-color: #fff;
    transition: right 0.3s; /* 平滑过渡效果 */
    box-sizing: border-box;
    padding: 60px 20px;
    z-index: 40;
    width: 100%;
    overflow: auto; 
    -ms-overflow-style: none;  /* IE和Edge */
    scrollbar-width: none;  /* Firefox */
}
    /* Chrome, Safari 和 Opera */
#nav-menu::-webkit-scrollbar {
        display: none;
    }


@media (min-width: 450px) {
    #nav-menu {
        width: 450px;
    }
}

.texts > li{
    font-size: 24px;
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 12px;
    align-items: center;
    color: #000;
}
.texts > .dropdown {
    box-sizing: border-box;
    padding: 0 20px;
    border-bottom: 1px solid #0002;
    border-top: 1px solid transparent;
}
.arrowKey {
    width: 20px;
}
.arrowKey img{
    width: 100%;
    transition: transform 0.2s ease; /* 应用于箭头图像的基础样式 */
}
.rotated {
    transform: rotate(180deg);
    transition: transform 0.2s ease; /* 平滑过渡效果 */
}
.texts > li > a{
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #0002;
    border-top: 1px solid transparent;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
}
.dropdown-content-plant {
    display: none;
}
.dropdown-content-about {
    display: none;
}
.dropdown-content {
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;
}
.dropdown-content > li a {
    text-decoration: none;
    font-size: 24px;
    color: #000a;
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #0002;
    border-top: 1px solid transparent;
    box-sizing: border-box;
    padding: 0 40px;
}
.icons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
    padding: 0 20px;
}
.iconbox {
    width: 32px;
    height: 32px;
}
.iconbox img{
    width: 100%;
}
.logobox {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.logobox img {
    width: 100%;
}
  
/* 大螢幕時顯示導覽列 */
@media screen and (min-width: 768px) {
    nav {
        display: flex;
        align-items: center;
        height: 60px;
        position: fixed;
        top: 0;
        right: 20px;
        left: 20px;
    }
    #nav-menu {
        position: static;
        top: 0px; /* 移除右侧位置设置 */

        height: 60px;
        width: 100%;
        display: flex; /* 保持为 flex 布局 */
        flex-direction: row; /* 水平排列 */
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        box-sizing: border-box;
        padding: 0;
        overflow: visible;
        gap: auto;
    }
    #xx {
        display: none;
    }
    .texts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        position: relative;
        margin: 0 14% 0 36px;
        
    }
    .texts > li {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        /* width: calc(20% - 10px); */
        width: auto;
        height: 60px;
        font-size: 16px;
        padding: 0 20px;
        gap: 0px;
    }
    .arrowKey {
        margin: 2px 0 0 2px;
    }

    .texts > .dropdown {
        border: 1px solid #0000;

    }
    .texts li a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        border: 1px solid #0000;
        height: 60px;
        padding: 0;
    }

    .icons {
        width: 20%;
        display: flex;
        flex-direction: row;
        margin: auto 0 auto 0;
        padding: 0;
        gap: 20px;
    }
    .iconbox {
        width: 24px;
        height: 24px;
    }
    .logobox {
        width: auto;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }
    .logobox img {
        width: 100%;
        height: 100%;
        display: block;
    }
    #hamburger-icon {
      display: none;
    }
    .dropdown-content {
        display: none;
    }
    .dropdown-plant{
        position: relative;
    }
    .dropdown-content-plant{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 136px;
        top: 56px;
        visibility: hidden;
        opacity: 0;
        transition: top 0.2s, opacity 0.2s linear, visibility 0s linear 0.24s; /* 添加延迟时间 */
        z-index: 100;
        border-radius: 20px;
        overflow: hidden;
        padding: 12px 0;
        background-color: #fff6;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid #ccc6;
        
        
    }
    .dropdown-content-plant > li a{
        height: 48px;
        text-decoration: none;
        color: #000;
        
    }
    .dropdown-plant:hover .dropdown-content-plant {
        top: 52px;
        visibility: visible;
        opacity: 1;
        transition-delay: 0s; /* 移除延迟 */
        background-color: #fff6;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);

    }


    .dropdown-about {
        position: relative;
    }
    .dropdown-content-about {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 136px;
        top: 56px;
        visibility: hidden;
        opacity: 0;
        transition: top 0.2s, opacity 0.2s linear, visibility 0s linear 0.24s; /* 添加延迟时间 */
        z-index: 100;
        border-radius: 20px;
        overflow: hidden;
        padding: 12px 0;
        background-color: #fff6;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);  
        border: 1px solid #ccc6;  
    }
    .dropdown-content-about  > li a{
        height: 48px;
        text-decoration: none;
        color: #000;
    }
    .dropdown-about:hover .dropdown-content-about  {
        top: 52px;
        visibility: visible;
        opacity: 1;
        transition-delay: 0s; /* 移除延迟 */
    }
    .texts > li:hover {
        color: #3D7E92;
        font-weight: 500;
    }
    .texts li:hover > *:not(p) {
        color: #3D7E92;
        font-weight: 400;
    }

    .texts li a:hover {
        color: #3D7E92;
        font-weight: 500;
    }
}

@media screen and (min-width: 1500px) {
    nav {
        margin: 0px auto 0px auto;
        position: fixed;
        z-index: 2;
    }
    body::after {
        content: '';
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 60px;
        z-index: 1;
    }
}


.banner-container {
    margin: 60px 20px 20px 20px;
    position: relative;
    max-width: 1520px;
}
.banner-imgbox{
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 36px;
    
}
.banner-imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.banner-textbox {
    width: 80vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #fff;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    font-family: 'Noto Sans TC', sans-serif;
}
.banner-textbox-title {
    font-size: 10vw;
    margin: 0 0 20px 0;
    letter-spacing: 4px;
    line-height: 1.36;
    font-weight: 600;
    text-shadow: 2px 4px 10px #0005;
}
.banner-textbox-text a {
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    background-color: #fff6;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid #ccc;
    /* padding: 12px; */
    transition: background-color 0.2s ease;
    width: 7.2em;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    letter-spacing: .1em;
}
.banner-textbox-text a:hover {
    background-color: #fff3;
}

@media (width > 768px) {
    .banner-container {
        border-radius: 48px;
        margin: 60px 20px 20px 20px;
        position: relative;
    }
    .banner-imgbox{
        aspect-ratio: 5/2;
    }
    .banner-textbox {
        position: absolute;
        width: auto;
        right: 10vw;
        color: #fff;
        top: 50%;
        right: 8%;
        transform: translate(0, -50%);
    }
    .banner-textbox-title {
        font-size: 48px;
    }
}
@media (width > 1560px) {
    .banner-container {
        margin: 60px auto 20px auto;
    }
}    
.leaves-container {
    max-width: 1500px;
    margin: 0 20px 20px 20px;
}
.leaves-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#circle,
#monster {
    display: none;
}

.leaf1 {
    height: 60px;
}

.leaf2 {
    height: 70px;
}

.leaf3 {
    height: 65px;
}

.leaf4 {
    height: 60px;
}

.leaf5 {
    height: 65px;
}

.leaf1:hover path {
    fill: #97E44A;
    transition: none;
}

.leaf2:hover path {
    fill: #97E44A;
    transition: none;
}

.leaf3:hover path {
    fill: #97E44A;
    transition: none;
}

.leaf4:hover path {
    fill: #97E44A;
    transition: none;
}

.leaf5:hover path {
    fill: #97E44A;
    transition: none;
}

.leaf1 path,
.leaf2 path,
.leaf3 path,
.leaf4 path,
.leaf5 path {
    transition: fill 1.2s ease;
    /* 指定過渡效果作用於 fill 屬性，持續 0.3 秒，使用 ease 時間函數 */
}
@media (width > 768px) {
    #circle,
    #monster {
        display: block;
    }
}
@media (width > 768px) {
    .leaves-container {
        margin: 0 20px 20px 20px;
    }
}
@media (width > 1560px) {
    .leaves-container {
        margin: 0 auto 20px auto;
    }
}
.greyline {
    max-width: 1500px;
    height: 1px;
    background-color: #ccc;
    margin: 0px auto 20px auto;

}
.newpin-container {
    max-width: 1520px;
    background-color: #a6f;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (width >1560px) {
    .newpin-container {
        margin: 0 auto 0 auto;
    }
}
.newpin-title {
    background-color: #60f;
}
.newpin-wrapper {
    width: 100%;
    background-color: #F00;
    position: relative;
}
.LRarr {
    display: none;
}
.newpin-title {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: .1em;
    color: #000;
}
.newpin-carousel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    background-color: #36a;
}

.newpin-card {
    flex: 0 0  auto;
    width: calc(100% - 100px); /* 卡片寬度 */
    aspect-ratio: 5/7;
    scroll-snap-align: center;
    background-color: #f0f0f0; /* 卡片背景色 */
    display: flex; /* 啟用flex布局 */
    flex-direction: column;
    align-items: center; /* 垂直居中 */
    justify-content: space-between; 
}
.newpin-textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newpin-card-title {
    font-size: 6vw;
    font-weight: 600;
    letter-spacing: 1vw;
    margin: 1vw 0 2vw 0;
}
.newpin-card-text {
    font-size: 4.8vw;
    font-weight: 400;
    letter-spacing: 1vw;
    color: #777;
    margin: 0px 0 4vw 0;
}
.newpin-card-price {
    font-family: 'Inter', sans-serif;
    font-size: 4.8vw;
    font-weight: 400;
    color: #3D7E92;
    margin: 0px 0 1vw 0;
}
.newpin-imgbox {
    overflow: hidden;
    border-radius: 48px;

}
.newpin-imgbox img{
    width: 100%;
    display: block;
}

@media (width > 1500px) {

}

@media (width > 480px) {
    .newpin-card {
        width: calc(50% - 40px); /* 卡片寬度 */
    }
    .newpin-card-title {
        font-size: 3vw;
        font-weight: 600;
        letter-spacing: .5vw;
        margin: .5vw 0 1vw 0;
    }
    .newpin-card-text {
        font-size: 2.4vw;
        font-weight: 400;
        letter-spacing: .5vw;
        color: #777;
        margin: 0px 0 2vw 0;
    }
    .newpin-card-price {
        font-family: 'Inter', sans-serif;
        font-size: 2.4vw;
        font-weight: 400;
        color: #3D7E92;
        margin: 0px 0 .5vw 0;
    }
}
@media (width > 768px) {
    .newpin-wrapper {
        width: 100%;
        background-color: #F00;
        position: relative;
    }
    .newpin-carousel {
        width: 100%;
        display: flex;
        gap: 20px;
        overflow-x: hidden;
    }
    .newpin-card {
        width: calc(25% - 15px);

        scroll-snap-align: start;
    }
    .LRarr {
        background-color: #a52;
        border-radius: 100px;
        overflow: hidden;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(0, -50%);
        top: 50%;
    }
    #leftarr {
        position: absolute;
        left: -8px;

    }
    #rightarr {
        position: absolute;
        right: -8px;
    }
    .LRarr img {
        width: 100%;
    }
    .newpin-card-title {
        font-size: 2vw;
        font-weight: 600;
        letter-spacing: .4vw;
        margin: .4vw 0 .6vw 0;
    }
    .newpin-card-text {
        font-size: 1.6vw;
        font-weight: 400;
        letter-spacing: .4vw;
        color: #777;
        margin: 0px 0 1.333vw 0;
    }
    .newpin-card-price {
        font-family: 'Inter', sans-serif;
        font-size: 1.6vw;
        font-weight: 400;
        color: #3D7E92;
        margin: 0px 0 .4vw 0;
    }
}


