/* 小螢幕時隱藏導覽列，只顯示漢堡圖標 */
body {
    font-family: 'Noto Sans TC', sans-serif;
}
nav {
    display: flex;
    background-color: #6a3;
    justify-content: space-between;
    align-items: center;
    max-width: 1530px;
    z-index: 2;
    align-items: center;
    height: 40px;
}
#hamburger-icon {
    background-color: #f00;
    width: 20px;
    display: flex;
    align-items: center;
}
#hamburger-icon img{
    width: 100%;
}
#xx {
    background-color: #f00;
    width: 16px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
}
#xx img{
    width: 100%;
}
#nav-menu {
    display: flex;
    flex-direction: column; /* 垂直排列菜单项 */
    position: fixed; /* 固定位置 */
    top: 0; /* 顶部对齐 */
    right: -100%; /* 初始在屏幕右侧外 */
    height: 100%; /* 全屏高度 */
    background-color: #6af; /* 背景颜色 */
    transition: right 0.3s; /* 平滑过渡效果 */
    box-sizing: border-box;
    padding: 40px 20px;
}
.texts > li{
    background-color: #ca0;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid blue;
}
.arrowKey {
    width: 20px;
    transform: rotate(-90deg);
}
.arrowKey img{
    width: 100%;
}

.texts > li > a{
    background-color: #a0c;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid blue;
}
.dropdown-content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
}
.dropdown-content > li {
    background-color: #ac0;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid red;
}
.iconbox {
    background-color: #fa0;
    width: 20px;
}
.iconbox {
    width: 100%;
}
.logobox {
    width: 100px;
    height: 40px;
    background-color: #fa0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logobox img {
    width: 100%;
}
  
/* 大螢幕時顯示導覽列 */
@media screen and (min-width: 768px) {
    nav {
        display: flex;
        align-items: center;
        height: 60px;
    }
    #nav-menu {
        position: static; /* 不再固定位置 */
        top: 0px; /* 移除右侧位置设置 */
        right: 0;
        height: 60px;
        width: 100%;
        display: flex; /* 保持为 flex 布局 */
        flex-direction: row; /* 水平排列 */
        align-items: center;
        justify-content: space-between;
        background-color: #6af; /* 背景颜色 */
        box-sizing: border-box;
        padding: 0 20px 0 20px;
    }
    #xx {
        display: none;
    }
    .texts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        position: relative;
    }
    .texts li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        width: calc(20% - 10px);
        height: 60px;
    }
    .texts li a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        height: 60px;
    }

    .icons {
        display: flex;
        flex-direction: row;
    }
    .logobox {
        width: 160px;
        height: 60px;
        background-color: #faa;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logobox img {
        width: 100%;
        height: 100%;
        display: block;
    }
    #hamburger-icon {
      display: none;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        width: 200px;
        height: 300px;
        top: 0;
        left: 0;
    }
    .dropdown-content li{
        width: 200px;
        background-color: #a0c;
    }
    .dropdown:hover + .dropdown-content {
        display: block;
        top: 20px;
        background-color: #6a3;    }

}

    


@media screen and (min-width: 1500px) {
    nav {
        margin: 0px auto 0px auto;
        position: relative;
        z-index: 2;
    }
    body::after {
        content: '';
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 60px;
        background-color: #60f;
        z-index: 1;
    }
}